<%inherit file="../base.html" />
<%! from django.shortcuts import reverse %>
<%def name="content()">
<%
from app.model.video import VideoType
%>
<h1>视频上传</h1>
<form enctype="multipart/form-data"  id="video-edit-area" class="form-horizontal edit-area add-video-area" action="" method="POST">${csrf_token}
  <div class="form-group">
    <div class="col-sm-10">
        <input id="url" type="file" name="url" class="form-control"/><br />
    </div>
  </div>
  <!--<button type="submit" class="btn btn-info">上传</button>-->
     <input type="hidden" value="" name="videosub_id" id="videosub-input-id"/>
     <input type="submit" value="上传" class="btn btn-info" id="add-url-btn"/>
</form>





<h3 id="custom-h3">视频列表</h3>
<table class="table">
    <thead>
      <tr>
          <th>视频名称</th>
          <th>视频地址</th>
          <th>视频类型</th>
          <th>创建时间</th>
          <th>修改时间</th>
          <th>上架状态</th>
          <th>操作</th>
      </tr>
    </thead>
    <tbody>
        % for video in cus_videos:
        <tr>
            <td>${video.name}</td>
            <td>${video.url}</td>
            <td>${VideoType(video.video_type).label}</td>
            <td>${video.created_time}</td>
            <td>${video.updated_time}</td>
            <td>${video.status}</td>
            <td>
                <!--<a href="${reverse('video_update', kwargs={'video_id': video.id})}">编辑</a>-->
                <!--<a href="${reverse('video_sub', kwargs={'video_id': video.id})}">附属信息</a><br>-->
                <a href="${reverse('video_update_static', kwargs={'video_id': video.id})}">上/下架</a>
            </td>
        </tr>
        % endfor
    </tbody>
</table>
</%def>
<%def name="css()">
<link href="/static/dashboard/css/externa_video.css" rel="stylesheet" />
</%def>
<%def name="js()">
<script src="/static/dashboard/js/video/externa_video.js"></script>
<script src="/static/dashboard/js/video/video_sub.js"></script>
</%def>