<%inherit file="../base.html" />
<%!
from django.shortcuts import reverse

%>
<%def name="content()">
<h1>${video.name}<span>${error}</span></h1>
<form enctype="multipart/form-data" class="form-horizontal edit-area add-video-area add-url"  method="POST">${csrf_token}
  <p>地址与选集编辑区域</p>
  <label>添加地址</label><input id="url" type="file" name="url" class="form-control"/><br />
  <input type="hidden" value="" name="videosub_id" id="videosub-input-id"/>
  <input type="submit" value="添加" class="btn btn-info" id="add-url-btn"/>
</form>

<h2>集数</h2>
<table class="table">
    <thead>
      <tr>
          <th>地址</th>
          <th>控制</th>
      </tr>
    </thead>
    <tbody>
        % for video_sub in video.video_sub.all():
        <tr>
          <td><p class="info">${video_sub.url}</p></td>
            <td>
                <a class="btn btn-default" href="${video_sub.url}">查看</a>
                <button class="btn btn-default update-btn" data-id="${video_sub.id}" data-url="${video_sub.url}" data-number="${video_sub.number}">编辑</button>
                <a class="btn btn-default" href="${reverse('sub_delete', kwargs={'videosub_id': video_sub.id, 'video_id': video.id})}">删除</a>
            </td>
        </tr>
        % endfor
    </tbody>
</table>


</%def>
<%def name="css()">
<link href="/static/dashboard/css/video_sub.css" rel="stylesheet" />
</%def>
<%def name="js()">
<script src="/static/dashboard/js/video/video_sub.js"></script>
</%def>